/* Estilos gerais do carrossel */
.carrossel-container {
    position: relative;
    width: 100%; /* O carrossel ocupará 100% da largura do contêiner */
    max-width: 1200px; /* Limite o carrossel a uma largura máxima */
    overflow: hidden;
    margin-top: 40px;
    margin-left: 100px;
}

.carrossel {
    display: flex;
    transition: transform 0.9s ease-in-out;
}

.imagens {
    display: flex;
    width: 100%;
}

/* Garantir que todas as imagens têm o mesmo tamanho */
figure {
    margin: 5px;
    text-align: center;
    position: relative;
}

/* Tamanho fixo para as imagens */
figure img {
    width: 100px;  /* Defina a largura fixa das imagens */
    height: 100px; /* Defina a altura fixa das imagens */
    object-fit: cover; /* Faz as imagens se ajustarem sem distorcer */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-left: 23px; /* Ajusta o espaçamento entre as imagens */
}

figcaption {
    margin-top: 10px;
    font-size: 14px;
    color: #f4f1f1;
    margin-left: 25px;
    font-family: "Roboto", serif;
}

/* Botões de navegação */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #00000080;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    width: 40px;         /* Define a largura */
    height: 40px;        /* Define a altura */
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Efeito de hover nas imagens */
.imagens img:hover {
    transform: scale(0.9);
}
